<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.with.safe360"
    android:versionCode="2"
    android:versionName="1.0.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.with.safe360" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- //获取准确GPS坐标的权限 -->
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" /> <!-- //允许模拟器模拟位置坐标的权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- //获取粗略坐标的权限(网络定位时使用) -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 在窗体上挂在view的权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 去电广播监听的权限 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <!-- 拦截电话需要用到的权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <!-- 杀死后台进程用的权限 -->
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <!-- 生成快捷方式的权限 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 清理缓存的权限 -->
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />

    <application
        android:name="com.with.mobilesafe76.global.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.with.mobilesafe76.activity.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.with.mobilesafe76.activity.HomeActivity" >
            <intent-filter>
                <action android:name="android.intent.action.HOME" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.with.mobilesafe76.activity.SettingActivity" >
        </activity>
        <activity android:name="com.with.mobilesafe76.activity.TestActivity" >
        </activity>
        <activity android:name="com.with.mobilesafe76.activity.SetupOverActivity" >
        </activity>
        <activity android:name="com.with.mobilesafe76.activity.Setup1Activity" >
        </activity>
        <activity android:name="com.with.mobilesafe76.activity.Setup2Activity" >
        </activity>
        <activity android:name="com.with.mobilesafe76.activity.Setup3Activity" >
        </activity>
        <activity android:name="com.with.mobilesafe76.activity.Setup4Activity" >
        </activity>
        <activity android:name="com.with.mobilesafe76.activity.ContactListActivity" >
        </activity>
        <activity android:name="com.with.mobilesafe76.activity.AToolActivity" >
        </activity>
        <activity android:name="com.with.mobilesafe76.activity.QueryAddressActivity" >
        </activity>
        <activity android:name="com.with.mobilesafe76.activity.BlackNumberActivity" >
        </activity>
        <activity android:name="com.with.mobilesafe76.activity.AppManagerActivity" >
        </activity>
        <activity android:name="com.with.mobilesafe76.activity.ProcessManagerActivity" >
        </activity>
        <activity android:name="com.with.mobilesafe76.activity.CommonNumberQueryActivity" >
        </activity>
        <activity android:name="com.with.mobilesafe76.activity.ProcessSettingActivity" >
        </activity>
        <activity android:name="com.with.mobilesafe76.activity.AppLockActivity" >
        </activity>
        <activity android:name="com.with.mobilesafe76.activity.AnitVirusActivity" >
        </activity>
        <activity android:name="com.with.mobilesafe76.activity.CacheClearActivity" >
        </activity>
        <activity android:name="com.with.mobilesafe76.activity.SDCacheClearActivity" >
        </activity>
        <activity android:name="com.with.mobilesafe76.activity.BaseCacheClearActivity" >
        </activity>
        <activity android:name="com.with.mobilesafe76.activity.TrafficActivity" >
        </activity>
        <activity
            android:name="com.with.mobilesafe76.activity.ToastLocationActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <!-- 拦中截界面要在一个单独的任务栈 -->
        <!-- 不需要去显示手机卫士的图标,true不要显示最近的图标,false显示最近开启应用的图标 -->
        <activity
            android:name="com.with.mobilesafe76.activity.EnterPsdActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance" />

        <receiver android:name="com.with.mobilesafe76.receiver.BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.with.mobilesafe76.receiver.SmsReceiver" >
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.with.mobilesafe76.receiver.KillProcessReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.KILL_BACKGROUND_PROCESS" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.with.mobilesafe76.receiver.MyAppWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/process_widget_provider" />
        </receiver>

        <service android:name="com.with.mobilesafe76.Service.LocationService" />
        <service android:name="com.with.mobilesafe76.Service.AddressService" />
        <service android:name="com.with.mobilesafe76.Service.BlackNumberService" />
        <service android:name="com.with.mobilesafe76.Service.LockScreenService" />
        <service android:name="com.with.mobilesafe76.Service.UpdateWidgetService" />

        <uses-library android:name="android.test.runner" />
        
    </application>

</manifest>